{% extends "base.html" %}

{% block app_content %}

<div class="jumbotron mt-3">

    <h1 class="display-4">Data Visualization Mockup</h1>


    <div class="container p-3 my-3 bg-dark text-white">
        <img src="/static/images/outputted_data.png" width = "1015" height = "650" alt="Data Graph">
    </div>

    <h1 class="display-4">Logistic Regression</h1>

    <div class="container p-3 my-3 bg-dark text-white">
        <img src="/static/images/logistic_regression.png" width = "1015" height = "650" alt="Data Graph">
    </div>

    <h1 class="display-4">Classifier Comparisons</h1>

    <div class="container p-3 my-3 bg-dark text-white">
        <img src="/static/images/classifier_comparisons.png" width = "1015" height = "300" alt="Data Graph">
    </div>




</div>


{% endblock app_content %}